
* {
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  
  html{
    height: 100%;
  }

  body {
    
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .mygif{
    width: 400px;
    height: auto;
  }

  .mainContent{
    overflow: auto;
    padding: 20px 50px;
   display: flex;
    min-height: 100%;
  }

  .footer2 {
    margin-top: auto;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: relative;
   
  }


  .footer {
    
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: absolute;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
  }

  .myDetails p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  
  .logo{
      text-align: right;
  }
  .menu{
      display: inline;
  }
  .menu h5{
      padding:  20px 10px;
      font-size: 26px;
      color: #f1f1f1;
      text-decoration: none;
  }
  .menu a.nostyle:link {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
      
  }
  #icon{
      font-size: 25px;
      padding: 5px;
      color: #fff;
  }