*{
  box-sizing: content-box;
  
}

html, body{
margin: 0;
padding: 0;
font-family: 'Heebo', sans-serif;
background-color: #FFFFFF;
}

.nav-item a{
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
 
}




.nav{
  padding-top: 25px;
  padding-right:150px ;
}

.hero-text{
  font-family: 'Heebo', sans-serif;
  color: #21243D;
  text-align: left;
  padding-top: 100px;
}
.hero-text a{
  color: #FFFFFF;
  background-color:#21243D ;
  border: none;
}

.hero-text h2{
  font-size: 44px;font-weight: bold;
}


.hero-text p{
  font-size: 16px; 
  text-align: justify;
  text-justify: inter-word;
}


.hero-img{
  text-align: center;
  padding-top: 100px;
}
.hero-img img{
  text-align: center;
  border: #21243D 1px;
  border-radius: 50%;
  height: 200px;
}

@media (min-width:320px)  { 
  .nav{
    padding-right: 0px;
    
  }

  .row{
    flex-direction: column-reverse;
  }

  .hero-text{
    padding-top: 50px;
    text-align: center;
  }

}



@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .nav{
    padding-right: 150px;
  }
  .row{
    flex-direction: row;
  }


}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  .hero-text{
    padding-top: 50px;
    text-align: left;
  }
}
@media (min-width:1281px) { 
  .hero-text{
    padding-top: 50px;
    text-align: left;
  }
 }